svg {
    width: 100%;
    margin-top: 50px;
  }
  
  .notification {
    width: 70%;
    background: #F8F8F8;
    padding: 50px;
    margin: 50px;
    box-shadow: -11px 11px 0px 0px rgba(0,0,0,0.06);
  }
  
  .message {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    padding-bottom: 50px;
    font-family: sans-serif;
    line-height: 1.4;
    color: #5B6365;
  }
  
  p {
    color: #8B8B8B
  }